<article class="post-entry service-block-card">
    <!-- Row 1: Service -->
   <div class="service-row">
        <div class="service-left" style="flex: 1;">
            <h3 class="service-title" style="margin: 0; display: inline">
                {{ .Get "title" }}
            </h3>
            <span class="service-language-wrapper" style="margin-left: 10px;"> 
                {{ $language := .Get "language" }}
                {{ if $language }}    
                        <span class="service-language" data-level="{{ . }}">
                            <span class="service-label-hole"></span>  
                            {{ $language | safeHTML }}
                        </span>
                {{ end }} 
            </span>
        </div>
        <div class="service-right">
            {{ with .Get "time" }}
                <div class="service-right service-time">
                    <svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor" stroke-width="2" fill="none"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    {{ . | safeHTML }}
                </div>
            {{ end }}
        </div>
    </div>
    <!-- Row 2: Role -->
    <div class="service-row service-meta">
        {{ $role := .Get "role" }}
        {{ if $role }}
                {{ $role | safeHTML }}
        {{ end }} 
    </div>

    {{- if .Inner -}}
    <div class="service-body">
        <div class="service-desc">
            {{ .Inner | markdownify | safeHTML }}
        </div>
    </div>
    {{- end -}}
</article>
